<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.rebrandsoftware.dialogcrashtest"
        versionCode="1" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

	<preference name="phonegap-version" value="3.1.0" />
	<preference name="fullscreen" value="false" />
    <preference name="android-installLocation" value="auto" />

    <name>Dialog Crash Test</name>

    <description>
        Scrolling quickly through a large list of icons, repeatedly, creates a crash on Android 4.3
    </description>

    <author href="http://www.rebrandsoftware.com" email="mike@rebrandsoftware.com">
        Mike Gibson - Rebrand Software, LLC 
    </author>
    
    <access origin="*" />

</widget>